# Python Bytecode
__pycache__
**.pyc
.ipynb_checkpoints
**.ipynb

# IDE
.vscode
.idea

# OS X
.DS_Store

# Virtual Environment
venv/

# Pickles
**.pkl

# Personal Debug Folder
.debug

# Generated
runs

# Personal Debug Folder
.debug

# Inference Folder
inference
