[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
opencv-python = "*"
tqdm = "*"
scipy = "*"
open3d = "*"
numpy = "*"
pyyaml = "*"
pymap3d = "*"

[requires]
python_version = "3.6"
